@model IEnumerable<Library.Models.Book>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Результат пошуку</title>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
    <div id="searchresults">
        <h3>@Html.ActionLink("Назад до бібліотеки", "Index")</h3>
        @if(Model.FirstOrDefault() == null)
        {
            <h3>Не знайдено жодної книги!!!</h3>
        }
        else
        {
            <table class="table">
                <tr>
                    <th><p>Назва книжки</p></th>
                    <th><p>Автор</p></th>
                    <th><p>Видання</p></th>
                    <th><p>Кількість сторінок</p></th>
                </tr>
                @foreach (var b in Model)
                {
                    <tr>
                        <th><p>@b.Name</p></th>
                        <th>
                            @foreach (var t in b.Authors)
                            {
                            <p>@t.FirstName @t.LastName</p>
                            }
                        </th>
                        <th><p>@b.Edition</p></th>
                        <th><p>@b.Pages</p></th>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>