@model IEnumerable<Library.Models.Book>

    <div id="searchresults">
        <h5>@Html.ActionLink("Всі книги", "Index")</h5>
        @if(Model.FirstOrDefault() == null)
        {
            <h3>Не знайдено жодної книги!!!</h3>
        }
        else
        {
            <table class="table">
                <tr>
                    <th><p>Назва книжки</p></th>
                    <th><p>Автор</p></th>
                    <th><p>Видання</p></th>
                    <th><p>Кількість сторінок</p></th>
                </tr>
                @foreach (var b in Model)
                {
                    <tr>
                        <th><p>@b.Name</p></th>
                        <th>
                            @foreach (var t in b.Authors)
                            {
                            <p>@t.FirstName @t.LastName</p>
                            }
                        </th>
                        <th><p>@b.Edition</p></th>
                        <th><p>@b.Pages</p></th>
                    </tr>
                }
            </table>
        }
    </div>